.footer {
    background-color: var(--darkest-color);
    padding-block: var(--fourth-padding);
}

@media screen and (max-width: 30em) {
    .footer .container {
        flex-direction: column;
        gap: 7px;
    }
}

.footer .container .content img {
    width: 25px;
}

.footer .container .content p {
    font-size: var(--fs-text);
    font-weight: var(--fw-regular);
    color: var(--lightest-color);
    margin-left: 15px;
    margin-bottom: 0;
}

.footer .container .social-media-icones {
    gap: var(--third-gap);
}

.footer .container .social-media-icones i {
    font-size: var(--fs-sm-icones);
    color: var(--lightest-color);
    transition: var(--primary-transition);
}

.footer .container .social-media-icones i:hover {
    color: var(--primary-color);
}